[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/opt/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/lastplace"]
	path = .vim/pack/plugins/start/lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/.swift"]
	path = .vim/.swift
	url = https://github.com/apple/swift
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
